<mat-card>
  <h2>Neues Snippet erstellen</h2>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basics</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Titel</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Wähle eine Kategorie...</mat-label>
          <mat-select [(value)]="selectedCategory" [disabled]="false">
            <mat-option [value]="null">Keine</mat-option>
            <mat-option *ngFor="let option of categories" [value]="option">{{option?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Beschreibung</mat-label>
          <textarea formControlName="description" rows="7" matInput></textarea>
        </mat-form-field>

        <mat-divider></mat-divider>

        <div class="flex-container">
          <button mat-button matStepperNext [disabled]="!firstFormGroup.valid"
                  (click)="addSnippetData(firstFormGroup.value, false)">Weiter
          </button>
        </div>
      </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="secondFormGroup" label="Code">
      <!-- #enddocregion label -->
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <textarea formControlName="code" (keyup)="setCode(txt.value)" #txt rows="20" matInput></textarea>
        </mat-form-field>

        <mat-accordion>
          <mat-expansion-panel (opened)="previewPanelOpenState = true"
                               (closed)="previewPanelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vorschau
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre><code [highlight]="code"></code></pre>
          </mat-expansion-panel>
        </mat-accordion>

        <br>
        <mat-divider></mat-divider>

        <div class="flex-container">
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext [disabled]="!secondFormGroup.valid"
                  (click)="addSnippetData(secondFormGroup.value, false)">Weiter
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Done">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field class="tags-field">
          <mat-chip-list #chipListTags aria-label="Tags">
            <mat-chip *ngFor="let tag of tags" [selectable]="chipsSelectable"
                      [removable]="chipsRemovable" (removed)="removeChip(tag, 'tag')">
              {{tag}}
              <mat-icon matChipRemove *ngIf="chipsRemovable">cancel</mat-icon>
            </mat-chip>
            <input formControlName="tags" placeholder="Neuer Tag..."
                   [matChipInputFor]="chipListTags"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="chipsAddOnBlur"
                   (matChipInputTokenEnd)="addChip($event, 'tag')">
          </mat-chip-list>
        </mat-form-field>

        <mat-slide-toggle formControlName="is_public" labelPosition="before">Freigeben</mat-slide-toggle>
        <br>
        <mat-form-field *ngIf="thirdFormGroup?.get('is_public')?.value === true" class="tags-field">
          <mat-chip-list #chipListSharedUser aria-label="Freigeben">
            <mat-chip *ngFor="let user of sharedUsers" [selectable]="chipsSelectable"
                      [removable]="chipsRemovable" (removed)="removeChip(user, 'user')">
              {{user}}
              <mat-icon matChipRemove *ngIf="chipsRemovable">cancel</mat-icon>
            </mat-chip>
            <input formControlName="sharedUsers" placeholder="Freigeben für..."
                   [matChipInputFor]="chipListSharedUser"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="chipsAddOnBlur"
                   (matChipInputTokenEnd)="addChip($event, 'user')">
          </mat-chip-list>
        </mat-form-field>

        <br>
        <mat-divider></mat-divider>

        <div class="flex-container">
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-raised-button color="primary" [disabled]="!thirdFormGroup.valid"
                  (click)="addSnippetData(thirdFormGroup.value, true)">Speichern
          </button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</mat-card>
