<mat-card>
  <h2>Neues Snippet erstellen</h2>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basics</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Titel</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Wähle eine Kategorie...</mat-label>
          <mat-select [(value)]="selectedCategory" formControlName="category" [disabled]="false">
            <mat-option [value]="null">Keine</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              <i class="{{category?.icon || 'las la-folder-open'}}"></i> &nbsp;
              {{category?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Beschreibung</mat-label>
          <textarea formControlName="description" rows="7" matInput></textarea>
        </mat-form-field>

        <mat-divider></mat-divider>

        <div class="flex-container">
          <button mat-button matStepperNext [disabled]="!firstFormGroup.valid"
                  (click)="addSnippetData(firstFormGroup.value, false)">Weiter
          </button>
        </div>
      </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="secondFormGroup" label="Code">
      <!-- #enddocregion label -->
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <textarea formControlName="code" (keyup)="setCode(txt.value)" #txt rows="20" matInput></textarea>
        </mat-form-field>

        <mat-accordion>
          <mat-expansion-panel (opened)="previewPanelOpenState = true"
                               (closed)="previewPanelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vorschau
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre><code [highlight]="code"></code></pre>
          </mat-expansion-panel>
        </mat-accordion>

        <br>
        <mat-divider></mat-divider>

        <div class="flex-container">
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext [disabled]="!secondFormGroup.valid"
                  (click)="addSnippetData(secondFormGroup.value, false)">Weiter
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Done">
      <app-share-snippet [public]="false" [tags]="[]" [selectedUsers]="[]"
                         (onPublicStatusChange)="addSnippetData({public: $event}, false)"
                         (onSharedUsersChanged)="addSnippetData({sharedUsers: $event}, false)"
                         (onTagsChanged)="addSnippetData({tags: $event}, false)"></app-share-snippet>
      <br>
      <button mat-raised-button color="primary" (click)="addSnippetData(null, true)">Speichern</button>
    </mat-step>

  </mat-horizontal-stepper>
</mat-card>
