.form-center {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
}

.mat-card {
  max-width: 50%;
  display: block;
  margin: 16px auto;
  padding-bottom: 0;
}


pre {
  background-color: #F5F5F5;
  padding: 16px;
}

h2 {
  margin-left: 24px;
}
