:host {
  width: 100%;
  padding: 16px;
}

code {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tags-field {
  width: calc(100% - 0px)
}

pre {
  background-color: #EEEEEE;
}

.code {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
