<h1>
  {{currentCodeSnippet?.title}}
  <span class="float-right">
    <button mat-button matTooltip="Bearbeiten">
       <mat-icon aria-hidden="false" aria-label="toggle theme"
                 fontSet="material-icons-outlined">edit
      </mat-icon>
    </button>
    <button mat-button color="warn" matTooltip="Löschen">
      <mat-icon aria-hidden="false" aria-label="toggle theme"
                fontSet="material-icons-outlined">delete_outline
      </mat-icon>
    </button>
  </span>
</h1>

<h5 class="text-muted"><i
  class="{{currentCodeSnippet?.category?.icon || 'las la-folder-open'}}"></i> {{currentCodeSnippet?.category?.name || 'Uncategorized'}}
  | {{currentCodeSnippet?.createdAt | date: 'dd.MM.yyyy'}} | {{codeLanguage?.name}}
</h5>

<div [innerHTML]="currentCodeSnippet?.description"></div>

<pre *ngIf="currentCodeSnippet?.code">
  <code [highlight]="currentCodeSnippet?.code"></code>
</pre>

<mat-card>
  <h3>Einstellungen</h3>
  <ng-template #sharedUserSettings></ng-template><br>
  <button class="mat-raised-button mat-primary" (click)="saveSnippet()">Speichern
  </button>
</mat-card>
