<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="brand">Snippez</h1>
    <div>
      <a mat-button [routerLink]="'/dashboard'" matTooltip="Dashboard">
        <mat-icon aria-hidden="false" aria-label="Go to dashboard" fontSet="material-icons-outlined">dashboard
        </mat-icon>
      </a>
      <a mat-button [routerLink]="'/admincp'" matTooltip="AdminCP">
        <mat-icon aria-hidden="false" aria-label="Go to AdminCP" fontSet="material-icons-outlined">admin_panel_settings
        </mat-icon>
      </a>
    </div>
    <span class="navbar-spacer"></span>
    <mat-slide-toggle labelPosition="before" matTooltip="{{currentTheme}} Mode" [checked]="isDarkTheme" (change)="toggleDarkTheme($event.checked)">
      <mat-icon aria-hidden="false" aria-label="toggle theme" fontSet="material-icons-outlined">wb_sunny
      </mat-icon>
    </mat-slide-toggle>

    <!--  RIGHT MENU  -->
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a [routerLink]="'/register'" mat-menu-item>
          <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>
          <span>Registrieren</span>
        </a>
        <a [routerLink]="'/login'" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Anmelden</span>
        </a>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
