@import "./src/constants";

mat-form-field {
  width: 100%;
}

.icon-description {
  font-size: 12px;
}

h3 {
  font-weight: bold;
}

mat-divider {
  margin-top: $margin-base;
  margin-bottom: $margin-base;
}

button {
  i {
    font-size: 1.65rem;
  }
}
