@import "constants";
@import "app/_styles/dark-theme";
@import "app/_styles/light-theme";

html, body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  scrollbar-width: none;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0;
}

mat-grid-tile {
  overflow: auto !important;
}

.mat-list-base {
  padding-top: 0 !important;
}

.float-right {
  float: right;
}

.mat-horizontal-stepper-header-container {
  margin-bottom: $margin-base;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin-top: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.font-italic {
  font-style: italic;
}
